<% content_for :title, "Stocks" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Stocks</h1>
    <%= link_to "New stock", new_admin_product_stock_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>
<br>
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10">

  <table class="w-full table-fixed">
    <thead>
      <tr class="bg-gray-100">
        <th scope="col" class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase text-center text-lg">Size</th>
        <th scope="col" class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase text-center text-lg">Amount</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <% if @admin_stocks.any? %>
        <% @admin_stocks.each do |s| %>
          <tr>
            <td class="py-4 px-6 border-b border-gray-200""><%= link_to s.size, admin_product_stock_path(@product, s)%></th>
            <td class="py-4 px-6 border-b border-gray-200""><%= s.amount %></td>
          </tr>
        <% end %>
      <% else %>
      <p class="text-center my-10">No stock/s found.</p>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to "Back to Product", admin_products_path, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
