<% content_for :title, "Categories" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Categories</h1>
    <%= link_to "New category", new_admin_category_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>
<br>
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10">

  <table class="w-full table-fixed">
    <thead>
      <tr class="bg-gray-100">
        <th scope="col" class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase text-center text-lg">Image</th>
        <th scope="col" class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase text-center text-lg">Category</th>
        <th scope="col" class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase text-center text-lg">Description</th>
      </tr>
    </thead>
    <tbody>
      <% if @admin_categories.any? %>
        <% @admin_categories.each do |c| %>
          <tr>
            <td class="py-4 px-6 border-b border-gray-200"><%= image_tag(c.image.presence || "https://cdn0.iconfinder.com/data/icons/picture-editing-1/2048/Broken_Image-512.png", size: "50x50", alt: c.name, style: "width: 50px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;") %> <%# image_tag(c.image.variant(:thumb)) %></td>
            <td scope="row" class="py-4 px-6 border-b border-gray-200"><%= link_to c.name, admin_category_path(c) %></td>
            <td class="py-4 px-6 border-b border-gray-200"><%= c.description %></td>
          </tr>
        <% end %>
      <% else %>
      <p class="text-center my-10">No categories found.</p>
      <% end %>
    </tbody>
  </table>
</div>


