<% content_for :title, "Products" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_admin_product_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>
<br>
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10">

  <table class="w-full table-fixed">
    <thead>
      <tr class="bg-gray-100">
        <th scope="col" class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase text-center text-lg">Image</th>
        <th scope="col" class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase text-center text-lg">Name</th>
        <th scope="col" class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase text-center text-lg">Description</th>
        <th scope="col" class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase text-center text-lg">Price</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <% if @admin_products.any? %>
        <% @admin_products.each do |p| %>
          <tr>
            <td class="py-4 px-6 border-b border-gray-200"><%= p.images.any? ? image_tag(p.images.first.variant(:thumb)) : image_tag("https://cdn0.iconfinder.com/data/icons/picture-editing-1/2048/Broken_Image-512.png", size: "50x50") %></td>
            <td scope="row" class="py-4 px-6 border-b border-gray-200"><%= link_to p.name, admin_product_path(p) %></td>
            <td class="py-4 px-6 border-b border-gray-200"><%= p.description %></td>
            <td class="py-4 px-6 border-b border-gray-200">₱ <%= number_with_delimiter(p.price) %></td>
          </tr>
        <% end %>
      <% else %>
      <p class="text-center my-10">No products found.</p>
      <% end %>
    </tbody>
  </table>
</div>
